node_modules
npm-debug.log
ffmpeg
service
clientcertexample
.vscode
.bin
.git
.gitattributes
.gitignore
README*.md
config/localDebug
config/config.json
Dockerfile
config/ca.cert
config/server.cert
config/server.key
AudioStreamer.njsproj
AudioStreamer.sln
.dockerignore
audioStreamer.js
